tmpApp
zzz-watch.yaml
zlsapp_*_[386|amd]*
.vscode/settings.json
db.db
tmp/conf.toml
tmp/tmp.zip
tmp/app/api/news.http.json
tmp/app/model/category.model.json
tmp/app/model/news.model.json
tmp/app/model/topic.model.json
tmp/app/module/.gitkeep
vm/go/add.wasm
vm/go/main.wasm
zlsapp
common/vm/yaegi/main/main_linux_amd64
internal/model/testdata/test.db
internal/testdata/test.db
