<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>

<body>
    {{dump()}}
    <br />
    {* 定义一个分类变量 *}
    {{ category:=lists("website-category") }}
    {{ categoryLen:=len(category) }}
    {{ range i, v := category }}
    <a href="/website-category">{{v.category_name}}</a>
    {{if categoryLen-1 != i}} | {{end}}
    {{ end }}
</body>

</html>